<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="consumerKey" value="YOUR_CONSUMER_KEY" />
    <add key="consumerSecret" value="YOUR_CONSUMER_SECRET" />
    <add key="accessToken" value="ACCESS_TOKEN" />
    <add key="accessSecretToken" value="ACCESS_SECRET_TOKEN" />
    <add key="BearerToken" value="BEARER_TOKEN" />
    <add key="requestTokenUrl" value="https://api.twitter.com/oauth/request_token" />
    <add key="authorizeUrl" value="https://api.twitter.com/oauth/authorize" />
    <add key="authorizeTokenUrl" value="https://api.twitter.com/oauth/access_token" />
    <add key="callBackUrl" value="YOUR_CALLBACK_URL" />
    

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>